<script type="text/javascript">
	function doAjax(u_id){
	   	var tt;
	         $.ajax({
	         url: "/get_time",
	         cache: false,
	         // dataType: 'html',
	         type:'GET',
	         data: { user_id: u_id },
	         error: function(xhr) {
	           alert('Ajax request 發生錯誤');
	         },
	         success: function(data) {
	            // tt = data;
	            // $("body").append(tt);
                console.log(data)
                redrawBar(data);
	         }
	     });
	  // });
		// return 0 ;
	};
</script>

<% unless @access_token %>
<form name="input" action="/login" method="get">
	<button name="button" type="submit">Button</button>
</form>
<% else%>
	<div id="temp">
	<% @index = 0 %>
	<% @pictures_arr.each do | data |%>
		<div class="temp_data_<%=@index%>" enid="<%= data['id']%>" enname="<%= data['name']%>" enurl="<%= data['pictures_url']%>"></div>
		<% @index = @index + 1%>
	<%end%>
	<div class="temp_count" encount="<%=@index%>"></div>
    </div>
    <div class="title">G o s s i p &nbsp F B</div>
	<div class="container">
	    <div class="ui grid">
	        <div class="sixteen wide column">
	        </div>
	        <div class="ten wide column">
	            <div id="chart">
                </div>
                <div class="ui inverted divider"></div>
                <div id="demo-msg"></div>
	            <div id="demo"></div>
	        </div>
            <div class="six wide column">
                <div id="friends-wall"></div>
	        </div>
	    </div>
	</div>
	<!-- <div id="canvasloader-container" class="wrapper"></div> -->
	<script src="assets/func.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var turn = 0 ;
		// var cl = new CanvasLoader('canvasloader-container');
		// cl.setShape('spiral'); // default is 'oval'
		// cl.setDiameter(104); // default is 40
		// cl.setDensity(96); // default is 40
		// cl.setRange(0.8); // default is 1.3
		// cl.setSpeed(4); // default is 2
        // cl.show();
        $("#demo-msg").html("&nbsp");
        var data = getTempData();
        for (var i=0; i<data.length; i++) {
            $("#friends-wall").append("<img title='" + data[i]["name"] + "' src='" + data[i]["url"] + "' enid = '"+ data[i]["id"]+"'></img>");
        }
        drawChart();
        drawBar([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);
        $("#friends-wall img").click(function(){
        //	if(turn == 0){
        		turn = 1 ; 
	        	var u_id = $(this).attr("enid");
                turn = doAjax(u_id);
                var friendsName = $(this).attr("title");
                console.log($(this));
                $("#demo-msg").html(friendsName + " 的出沒時間");
	     //   }

        });
        //cl.hide();
	});
	</script>

<% end %>
