<script type="text/javascript">
	function doAjax(u_id){
	   	var tt;
	         $.ajax({
	         url: "/get_time",
	         cache: false,
	         // dataType: 'html',
	         type:'GET',
	         data: { user_id: u_id },
	         error: function(xhr) {
	           alert('Ajax request 發生錯誤');
	         },
	         success: function(data) {
	            // tt = data;
	            // $("body").append(tt);
                console.log(data)
                redrawBar(data);
	         }
	     });
	  // });
		// return 0 ;
	};
</script>

<% unless @access_token %>
<link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
<style type="text/css">
	html {
		background-image: url("assets/loginpage2.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
	}
	body {
		background:transparent; 
	}
	form {
		position: relative;
		text-align: center;
		margin: 0 auto;
		top: 400px;

	}
	form button .btn .btn-primary .btn-lg {
		font-size: 100px;
		

	}
	form div {
		background-color: white;
		padding: 20px;
		width: 200px;
		position: relative;
		margin: 0px auto;
		text-align: center;
	}
	img {
		width: 650px;
		margin: 0px auto;
		text-align: center;
		position: relative;
		z-index: 10;
		cursor: pointer;
	}
	div {
		margin: 0px auto;
		text-align: center;
		position: relative;
		top: 400px;
		font-family: 'Acme', sans-serif;
		font-size: 100px;
	}
</style>

<form name="input" action="/login" method="get" id="target">
	<!-- <div> -->
	<button name="button" type="submit" class='btn btn-primary btn-lg' style="visibility:hidden">Facebook Login</button>
	<!-- </div> -->
</form>
<div>
 <a href="/login"><%=image_tag("title.jpg" , class: "title")%>  </a>
<!-- GOSSIP FB -->
</div>
<% else%>
	<div id="temp">
	<% @index = 0 %>
	<% @pictures_arr.each do | data |%>
		<div class="temp_data_<%=@index%>" enid="<%= data['id']%>" enname="<%= data['name']%>" enurl="<%= data['pictures_url']%>"></div>
		<% @index = @index + 1%>
	<%end%>
	<div class="temp_count" encount="<%=@index%>"></div>
	</div>
	<div class="container">
	    <div class="ui grid">
	        <div class="sixteen wide column">
	            <div class="title">Gossip FB</div>
	        </div>
	        <div class="ten wide column">
	            <div id="chart">
	            </div>
	            <div id="demo"></div>
	        </div>
            <div class="six wide column">
                <div id="friends-wall"></div>
	        </div>
	    </div>
	</div>
	<!-- <div id="canvasloader-container" class="wrapper"></div> -->
	<script src="assets/func.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var turn = 0 ;
		// var cl = new CanvasLoader('canvasloader-container');
		// cl.setShape('spiral'); // default is 'oval'
		// cl.setDiameter(104); // default is 40
		// cl.setDensity(96); // default is 40
		// cl.setRange(0.8); // default is 1.3
		// cl.setSpeed(4); // default is 2
        // cl.show();
        var data = getTempData();
        for (var i=0; i<data.length; i++) {
            $("#friends-wall").append("<img title='" + data[i]["name"] + "' src='" + data[i]["url"] + "' enid = '"+ data[i]["id"]+"'></img>");
        }
        drawChart();
        drawBar([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]);
        $("#friends-wall img").click(function(){
        //	if(turn == 0){
        		turn = 1 ; 
	        	var u_id = $(this).attr("enid");
                turn = doAjax(u_id);
	     //   }

        });

        //cl.hide();
	});
	</script>

<% end %>
